docker.enabled = true
conda.enabled  = true

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

params {
    meta                        = "HPV"
    design                      = "${projectDir}/data/design.csv"
    human_countdata             = "${projectDir}/data/merged_counts_human.csv"
    viral_countdata             = "${projectDir}/data/merged_gene_counts_virus.csv"
}