docker.enabled = true
conda.enabled  = true

params {

    meta                        = null
    design                      = "${projectDir}/data/design.csv"
    human_countdata             = "${projectDir}/data/merged_counts_human_nogenename.csv"
    viral_countdata             = "${projectDir}/data/merged_gene_counts_virus.csv"

    outdir                      = null
    data_type                   = null
    publish_dir_mode            = "copy"

}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'