docker.enabled = true
conda.enabled  = true

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

params {
    meta                = "HPV"
    metadata            = "${projectDir}/data/HPV/design.csv"
    countdata           = "${projectDir}/data/HPV/counts.csv"

    validation_design   = "${projectDir}/data/asthma/validation_design.csv"
    model               = "all"
}