process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3

    cpus   = { task.attempt > 1 ? task.previousTrace.cpus       * 2         : 2    }
    memory = { task.attempt > 1 ? task.previousTrace.memory     * 2         : 24.GB }
    time   = { task.attempt > 1 ? task.previousTrace.time       * 2         : 4.h  }

}